
/* You can add global styles to this file, and also import other style files */
.cbox{
    margin-top:30px;
    height: 100px;
    background-color:#F0F0F0;
    color: black;
}

.fbox{
    margin-top:20px;
    height:100px;
}

.task{
    border:2px solid #F0F0F0;
    height: 320px;
}
.text1{
    margin-top:20px;
}
.scrap{
    
    border:2px solid #F0F0F0;
    height:320px;
    margin-right:0px
    
}
.fbox{
    margin-top:20px
}
.date{
    border:2px solid red;
}
.action{
    font-weight:bold;
}
ul{
    list-style: none;
}
li{
    border-bottom: 1px solid #F0F0F0;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
}
.do{
        color: red;
}
