


<div class="container fbox">
    <div class="row">
        <div class="col-5 ">
            <h2 class="border-bottom">TODO List</h2>
            <div class="row border-bottom " >
                <div class="col-8 "><p class="font-weight-bold">Description</p>
                    one way package error
                </div>
                <div class="col-2 "><p class="font-weight-bold">Date</p>
                    2017-11-23
                </div>
                <div class="col-2">Action
                    <button type="button" class="btn btn-link border-right ">done</button>
                    <button type="button" class="btn btn-link border-right">edit</button>
                    <button type="button" class="btn btn-link ">delete</button>

                </div>
            </div>
        </div>

        <div class="col-3  ml-2 task">
            <h2 class="text1">Add new TODO</h2>
            <form>
                <div class ="add"  >
                <div class="form-group">
                  
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Description..">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Assigned to..">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Date..">
                  </div>
                  <button type="button" class="btn btn-primary mr-1">Add</button>
                  <button type="button" class="btn btn-primary">Reset</button>
                </div>
              </form>
        </div>
        <div class="col-3 scrap">
            <h2 class="text1">Scrap Pad</h2>
            <div class="input-group h-50">
                
                <textarea class="form-control" aria-label="With textarea "></textarea>
              </div>
              <button type="button" class="btn btn-primary mt-2">Save</button>

        </div>
    </div>  
</div>